/* Navbar */
.my-nav-bg {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
}
.my-brand {
  width: 75%;
}
.navbar-nav li a {
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.navbar-nav li a:hover {
  color: #ff6f93;
}
.navbar-nav li a:focus {
  color: #ff6f93;
}
.navbar-nav li button {
  padding: 12px 100px;
  font-weight: 700;
  margin-top: 1rem;
  font-size: 1.5rem;
}

/* Hero Section */
.my-hero-section {
  color: white;
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.my-hero-title {
  font-size: 2rem;
  font-weight: 800;
}
.my-hero-title span {
  color: #ff6f93;
}
.my-hero-tagline {
  margin-top: 1rem;
  font-size: 1rem;
}
.my-hero-img {
  display: none;
}
.my-line-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.my-line-1 {
  background-color: white;
  height: 3px;
  width: 59%;
}
.my-line-2 {
  background-color: #ff6f93;
  height: 3px;
  width: 29%;
}
.my-line-3 {
  background-color: #6fd4ff;
  height: 3px;
  width: 9%;
}

/* About Section */
.my-about-section {
  color: white;
  margin: 5rem 0;
  padding: 2rem;
  border: 6px solid #ff6f93;
  border-radius: 24px;
}
.my-about-head {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 5rem;
}
.my-about {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 5rem;
}
.my-about-title {
  font-size: 3rem;
  font-weight: 700;
  color: #ff6f93;
}
.my-about-sub {
  font-weight: 700;
}
.my-about-content {
  font-size: 1.2rem;
}
.my-about-section .d-flex {
  flex-direction: column-reverse;
}
.my-about .ms-auto {
  margin-left: auto;
  margin-right: auto;
}
/* Responsive Breakpoint */
@media (min-width: 992px) {
  .my-brand {
    width: 100%;
  }
  .navbar-nav li a {
    margin-right: 2rem;
    margin-top: 0;
  }
  .navbar-nav li button {
    padding: 12px 24px;
    margin-top: 0;
  }
  .my-hero-section {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
  .my-hero-title {
    font-size: 4.5rem;
    font-weight: 800;
  }
  .my-hero-tagline {
    width: 32rem;
    margin-top: 2rem;
    font-size: 1.5rem;
  }
  .my-hero-img {
    display: block;
    width: 45%;
  }
  .my-line-1,
  .my-line-2,
  .my-line-3 {
    height: 5px;
  }
  .my-about-content p {
    width: 32rem;
  }
  .my-about-section .d-flex {
    flex-direction: row;
  }
  .my-about .ms-auto {
    margin-left: auto;
    margin-right: 0;
  }
}
@media (min-height: 1024px) {
  .navbar-nav li a {
    margin-right: 0;
  }
}
