html body {
  font-family: "Darker Grotesque", sans-serif;
  background-color: #2b2028;
}
.my-line {
  padding-top: 207px;
  width: 100%;
  justify-content: space-between;
}
.my-line-1 {
  width: 59%;
  background-color: white;
  height: 5px;
}
.my-line-2 {
  width: 29%;
  background-color: #ff6f93;
  height: 5px;
}
.my-line-3 {
  width: 9%;
  background-color: #6fd4ff;
  height: 5px;
}
.my-wrapper {
  border: 5px solid #ff6f93;
  border-radius: 32px;
  padding: 24px 0;
  margin: 120px 0;
}
.my-wrapper .my-line {
  padding-top: 142px;
}
.my-wrapper .my-line-1 {
  margin-left: 0;
}
.my-wrapper .my-line-2 {
  margin: 0 15px;
}
.my-wrapper .my-line-3 {
  margin-right: 0;
}

/* Navbar */
nav.navbar {
  padding: 24px 0;
  text-align: center;
}
button.navbar-toggler {
  background-color: white;
  box-shadow: none;
  border: 0;
  color: rgba(255, 255, 255, 0);
}
.navbar-nav li a {
  margin-bottom: 2rem;
  font-weight: 600;
  color: white;
}
.navbar-nav li a:hover {
  color: #ff6f93;
}
.navbar-nav li a:focus {
  color: #ff6f93;
}
.navbar-nav li button {
  background-color: #ff6f93;
  border: 0;
  border-radius: 100px;
  font-weight: 700;
  padding: 12px 24px;
  color: #2b2028;
  width: 100%;
}

/* Hero Section */
section.my-hero {
  color: white;
  padding-top: 168px;
}
section.my-hero h1 {
  font-size: 64px;
  font-weight: 800;
}
section.my-hero h1 span {
  color: #ff6f93;
}
section.my-hero h4 {
  font-size: 18px;
  margin: 32px 0;
}

.my-hero-img {
  display: none;
}

/* About Section */
.my-mini-nav h2 {
  color: #6fd4ff;
  font-size: 40px;
  font-weight: 700;
  margin-right: 0;
}
.my-mini-nav a {
  margin-left: 0;
}
.my-about {
  margin-top: 166px;
  flex-direction: column-reverse;
}
.my-about-content {
  color: white;
  margin-left: 0;
}
.my-about-content h1 {
  color: #ff6f93;
  font-size: 56px;
  font-weight: 800;
}
.my-about-content h3 {
  color: white;
  font-size: 24px;
  font-weight: 800;
  margin: 24px 0;
}
.my-about-content h4 {
  color: white;
  font-size: 24px;
}
.my-about-img {
  margin-right: 0;
}
.ms-auto.my-about-img {
  margin-left: 0 !important;
}
.my-about-img h2 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-top: 16px;
}
.my-about-img h4 {
  color: #6fd4ff;
  font-size: 24px;
  text-align: center;
  margin-top: 8px;
}

/* Project Section */
.my-project {
  margin-top: 166px;

  flex-direction: column;
}
.my-porto-1 {
  margin-left: 0;
  width: 100%;
}
.my-porto-2 {
  margin-top: 32px;
  margin-right: 0;
  width: 100%;
}
/* Break Points */
/* ----- Large Desktop */
@media (min-width: 1200px) {
  section.my-hero h1 {
    font-size: 96px;
  }
  section.my-hero h4 {
    font-size: 24px;
    width: 504px;
  }
  .my-hero-img {
    width: 50%;
    display: block;
  }
  .my-about {
    flex-direction: row;
  }
  .my-about-content {
    margin-left: 104px;
  }
  .my-about-content h4 {
    width: 504px;
  }
  .my-about-img {
    margin-right: 104px;
  }
  .ms-auto.my-about-img {
    margin-left: auto !important;
  }
  .my-mini-nav h2 {
    margin-right: 104px;
  }
  .my-mini-nav a {
    margin-left: 104px;
  }
  .my-wrapper .my-line-1 {
    margin-left: 104px;
  }
  .my-wrapper .my-line-3 {
    margin-right: 104px;
  }
  .my-porto-1 {
    width: 38%;
    margin-left: 104px;
  }
  .my-porto-2 {
    margin-top: 0;
    width: 38%;
    margin-right: 104px;
  }
  .my-project {
    flex-direction: row;
    justify-content: space-between;
  }
}
/* ----- Small Desktop */
@media (min-width: 992px) {
  .navbar-nav li a {
    margin-right: 3rem;
    margin-bottom: 0;
  }
  .navbar-nav li button {
    width: auto;
  }
  .my-hero-img {
    width: 50%;
    display: block;
  }
  .my-about {
    flex-direction: row;
  }
}
/* ----- Landscape Tablet */
@media (min-width: 768px) {
}
/* ----- Portrait Tablet */
@media (min-width: 600px) {
}
